.investment-detail-title {
  color: #184485;
  font-size: 17px;
  font-family: "Poppins";
}

.investment-detail-sub-title {
  color: #184485;
  font-size: 14px;
  font-family: "Inter";
}

.investment-detail-title-default {
  font-size: 16px;
  font-family: "Poppins";
}

.radio-input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}