# database configuration.
DATABASE_NAME=eic_api_gateway_db
DATABASE_PORT=27017
DATABASE_HOST=localhost
DEPLOYED=false

# rabbitMQ configuration.
RABBITMQ_HOST=localhost
RABBITMQ_PORT=
RABBITMQ_URL=amqps://vcoycqhu:4VpkdWDZnQWm1mx6LZ6WBTkGFXvqAqHa@moose.rmq.cloudamqp.com/vcoycqhu

SESSION_NAME=nodejs_session
SESSION_EXPIRE_TIME=5184000000
SESSION_SECRET=SKJFDOSIJFOIJOIULJRIUEWROU89324JKL
SESSION_PREFIX=session_id
PORT=3002

REDIS_HOST=redis-10256.c273.us-east-1-2.ec2.cloud.redislabs.com
REDIS_PASSWORD=KBIhCVI0F1gwAoacGFJTvZdpzZYXJN66
REDIS_PORT=10256

