.logo {
  height: 55px;
  width: 55px;
}

.profile-logo {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.vertical-image {
  height: 45px;
  margin-right: 15px;
  margin-left: 15px;
}

.wrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  /* background-color: #063a86; */
  background: #023e8a;
  justify-content: flex-start;
  align-items: center;
}

.profileWrapper {
  display: "flex";
  flex-direction: row;
  align-items: center;
}

.activeNavElement {
  color: white;
}

.navElement {
  margin: 10px;
  color: #b3c4db;
  font-family: "Poppins";
}

.navElement:hover {
  margin: 10px;
  color: white;
}

.headerContainer {
  background: #023e8a;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
  color: white;
}

.welcome {
  font-size: 14px;
  margin-right: 10px;
}

.sidebar-container {
  /* background-color: #023e8a; */
  /* background: #444; */
  /* background: #264653; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.inside-main-container {
  /* width: 100%; */
  /* padding: 30px 10; */
  padding: 20px;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
  color: #ddd;
  height: 48px;
  border-radius: 5px;
  width: 80%;
}

.inactive-sidebar {
  color: #ddd;
}

.active-sidebar {
  /* background-image: linear-gradient(to right, #023b87, #24528f, #4d73a6); */
  background: white;
  color: black;
}

.sidebar-icon {
  margin-right: 15px;
  padding: 8px 6px;
}

.vector-stroke {
  height: 30px;
  width: 30px;
  display: flex;
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 40px;
}

.sidebar-close-icon {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}

.sidebar-menu-icon {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}

.sidebar-icon-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  color: black;
  height: 58px;
  border-radius: 5px;
  width: 40%;
}

.sidebar-logo {
  width: 120px;
  vertical-align: center;
}

.sidebar-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  overflow: hidden;
  background: #01497c;
  width: 290px;
}

.nav-typography {
  text-decoration: none;
  font-family: Poppins;
  cursor: pointer;
  font-weight: 16px;
}

.sidebar-logo-txt {
  width: 250px;
  text-align: center;
  margin: auto !important;
  margin-top: 17px !important;
  color: #ddd !important;
  font-size: 1.35em !important;
}
