# server configuration.
PORT=5590
DEPLOYED=false

# database configuration.
DATABASE_NAME=investment_service_db
DATABASE_PORT=27017
DATABASE_HOST=localhost


# rabbitMQ configuration.
RABBITMQ_HOST=localhost
RABBITMQ_PORT=
RABBITMQ_URL=amqps://vcoycqhu:4VpkdWDZnQWm1mx6LZ6WBTkGFXvqAqHa@moose.rmq.cloudamqp.com/vcoycqhu

# Testing Flags
NODE_ENV=test

