# server configuration.
PORT=5558
DEPLOYED=false

# database configuration.
DATABASE_NAME=work_permit_service_db
DATABASE_PORT=27017
DATABASE_HOST=localhost


# rabbitMQ configuration.
RABBITMQ_HOST=localhost
RABBITMQ_PORT=
RABBITMQ_URL=amqps://leaxdclu:DUKqHkATWV8KLxUTBmcV73SKcdQumzNO@shark.rmq.cloudamqp.com/leaxdclu

# Testing Flags
NODE_ENV=test

